[user]
    name = Álvaro Justen (@turicas)
    email = alvarojusten@gmail.com
    signingkey = 1D44961E

[color]
    diff = auto
    ui = auto
    status = auto
    branch = auto

[color "diff"]
    whitespace = red reverse

[core]
    editor = vim
    quotepath = false
    whitespace = trailing-space,tab-in-indent,cr-at-eol
    autocrlf = input

[alias]
    br = branch
    ci = commit
    co = checkout
    st = status
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[filter "gpg"]
    smudge = gpg -d -q --batch --no-tty
    clean = gpg -ea -q --batch --no-tty -r E3167B86

[diff "gpg"]
    textconv = decrypt

[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 285
	file-view-vpane-position = 182
	main-window-view = HistoryView
	file-view-hpane-position = 258
#[merge]
#	ff = false
