[user]
    name = Álvaro Justen aka Turicas
    email = alvaro@justen.eng.br


[color]
    diff = auto
    ui = auto
    status = auto
    branch = auto


[core]
    quotepath = false


[filter "gpg"]
    smudge = gpg -d -q --batch --no-tty
    clean = gpg -ea -q --batch --no-tty -r E3167B86

[diff "gpg"]
    textconv = decrypt
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 285
	file-view-vpane-position = 182
	main-window-view = HistoryView
	file-view-hpane-position = 258
